*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica , Arial, sans-serif;
    background: #e6e6e6;
}


#menu{
    background-color: orange ;
    height: 200px;   
}

#menu h1{
    display: inline; 
    font-size: 70px;
       
}

#branco{
    color: white;
}

#logo{
    margin-left: 45%;
    padding-top: 1%;
}

#lista{
    text-decoration: none;    
    list-style: none;
    display: flex;
    margin-left: 40%;
    margin-top: 20px;
    font-size: 20px; 
       
}

a{
    text-decoration: none;
}

#lista a{
    padding: 1px;
    text-decoration: none;
    color: whitesmoke;
}

#lista a:hover{
    color: #f7b600;
    background: #fff;
}

.post-center{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    padding: 10px;
}

#conteudo{
    width: 920px;
    margin: 0 auto;
}

#postagem{
    width: 660px;
    float: left;
}

#lateral{
    width: 240px;
    float: right;
}
#footer{
    clear: both;
    background: #CCC;
    text-align: center;
    padding: 15px;
}
