*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica , Arial, sans-serif;
    background: #e6e6e6;
}


#menu{
    background-color: orange ;
    height: 200px;   
}

#menu h1{
    display: inline; 
    font-size: 70px;
       
}

#branco{
    color: white;
}

#logo{
    margin-left: 45%;
    padding-top: 1%;
}

#lista{
    text-decoration: none;    
    list-style: none;
    display: flex;
    margin-left: 40%;
    margin-top: 20px;
    font-size: 20px; 
       
}

a{
    text-decoration: none;
    color: orange
}

a:hover{
    text-decoration: underline;
}


#lista a{
    padding: 1px;
    text-decoration: none;
    color: whitesmoke;
}

#lista a:hover{
    color: #f7b600;
    background: #fff;
    text-decoration: none;
}

.post-center{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    padding: 10px;
}

#conteudo{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#postagem{
    width: 660px;
    float: left;
    
}

#lateral{
    width: 240px;
    float: right;    
    
}
#footer{
    clear: both;
    background: #CCC;
    text-align: center;
    padding: 15px;
}

#material{
    padding: 20px;
    margin-bottom: 20px;
    background: whitesmoke;
}

#material h1{
    color: orange;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.guia{
    background: white;
    padding: 15px;
    margin-bottom: 15px;
}

.guia h3{
    color: #565656;
    background: #ccc;
    padding: 10px;
}

.conteudo-lateral{
    font-size: 0.8em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}